# Fonts policy: OFL (or otherwise embed-licensed) fonts ARE committed, together
# with their license file (OFL-*.txt). Commercial fonts without an embedding
# license (e.g. Berthold Akzidenz-Grotesk) must NOT be added to the repo.
# Currently bundled: Archivo Black (display) + IBM Plex Sans (body), both OFL.

.build/
DerivedData/
